/* * is a special css element that effects everything */

.sociallinks {
    margin: auto;
}

.sociallinks img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 0px;
    border: black;
    border-style: solid;
}
.sociallinks img:hover {
    /* Define styles for when hovering over the image */
    border-color: #c9c9c9; /* Change border color */
    box-shadow: 0 0 5px rgb(255 255 255); /* Add shadow effect */
}

ul.a {list-style-type: circle;}
ul.b {list-style-type: disc;}
ul.c {list-style-type: square;}

ol.d {list-style-type: upper-roman;}
ol.e {list-style-type: lower-roman;}
ol.f {list-style-type: lower-alpha;}
ol.g {list-style-type: decimal;}