/* This is for some pages that use the old navbar, prob not super usefull but oh well*/
.navbar {
    position: fixed; /* position: fixed makes this always on screen */
    height: 30px; /* height sets the height */
    top: 0; /* top sets the top position */
    width: 100%; /* width: 100% makes this fill the screen */
    background-color: rgb(137, 3, 3);  /* Background-Color sets the background color of an element */
    background: linear-gradient(rgb(191 1 1),rgb(113 8 8)); /* Background can also set the background color of an element, but can do way more. I use it here for just in case browser don't support linear-gradient */
    padding: 0px; /* Padding is the area inside of the box that is padded */
    box-shadow: 0 0 15px 0 rgb(0 0 0); /* box-shadow makes a drop shadow. confusing */
    text-align: center;
    display: table-cell;
}

.navbar a {
    padding-top: 5.1px;
    padding-bottom: 5.1px;
    display: inline-table;
    padding: 8.20px;
    color: rgb(255, 255, 255); /* Color is text color */
    text-decoration: none; /* Text decoration is underlines, etc */
}

.navbar a:hover { /* a:hover only is used when well, hovering */
    color: rgba(255, 255, 255, 0.747); /* Color is text color */
    text-decoration: underline; /* Text decoration is underlines, etc */
}